test/resources/test-02.json
[
    {
        "id": "ab2b79c4.fe1588",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "118fa57a.86cf1b",
        "type": "tab",
        "label": "Flow with disabled nodes",
        "disabled": false,
        "info": "Flow with a description"
    },
    {
        "id": "fd69d3c.6d5e13",
        "type": "tab",
        "label": "Disabled Flow",
        "disabled": true,
        "info": ""
    },
    {
        "id": "3d267e52.e5bfd2",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "632fddcd.bbe7b4",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "5a3ae4c4.38828c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 80,
                "wires": [
                    {
                        "id": "5a3ae4c4.38828c",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "ebc7de84.1149",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "Some documentation",
        "category": "common",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "f4031f36.5c14d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 80,
                "wires": [
                    {
                        "id": "f4031f36.5c14d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "PROPERTY",
                "type": "str",
                "value": "test"
            }
        ],
        "meta": {
            "module": "module-name",
            "type": "node-type",
            "version": "1.2.3",
            "author": "Test User",
            "desc": "A test subflow",
            "license": "Apache-2.0"
        },
        "color": "#3FADB5",
        "inputLabels": [
            "input"
        ],
        "outputLabels": [
            "output"
        ],
        "icon": "font-awesome/fa-circle-o-notch"
    },
    {
        "id": "43dfc4ca.074cdc",
        "type": "group",
        "z": "ab2b79c4.fe1588",
        "g": "737404b0.75319c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7c0fc0ae.5e5cf"
        ],
        "x": 124,
        "y": 79,
        "w": 192,
        "h": 82
    },
    {
        "id": "737404b0.75319c",
        "type": "group",
        "z": "ab2b79c4.fe1588",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d14c1c25.446fb",
            "43dfc4ca.074cdc"
        ],
        "x": 98,
        "y": 39,
        "w": 628,
        "h": 148
    },
    {
        "id": "3361cf32.5d0e7",
        "type": "tls-config",
        "name": "TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "3fb6a4dc.123e3c",
        "type": "mqtt-broker",
        "name": "test-broker",
        "broker": "localhost",
        "port": "1883",
        "tls": "3361cf32.5d0e7",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cfd0800.40a668",
        "type": "mqtt-broker",
        "z": "3d267e52.e5bfd2",
        "name": "flow-scoped-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7c0fc0ae.5e5cf",
        "type": "inject",
        "z": "ab2b79c4.fe1588",
        "g": "43dfc4ca.074cdc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "d14c1c25.446fb"
            ]
        ]
    },
    {
        "id": "d14c1c25.446fb",
        "type": "debug",
        "z": "ab2b79c4.fe1588",
        "g": "737404b0.75319c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "791bf23b.459aac",
        "type": "inject",
        "z": "fd69d3c.6d5e13",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "e88339cc.7e27b8"
            ]
        ]
    },
    {
        "id": "e88339cc.7e27b8",
        "type": "debug",
        "z": "fd69d3c.6d5e13",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "8e482a40.130a48",
        "type": "inject",
        "z": "118fa57a.86cf1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "1e578d67.db9953"
            ]
        ]
    },
    {
        "id": "1e578d67.db9953",
        "type": "debug",
        "z": "118fa57a.86cf1b",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "deee97dc.abb148",
        "type": "inject",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "b10d2839.7ece38"
            ]
        ]
    },
    {
        "id": "b10d2839.7ece38",
        "type": "change",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "d5e44174.39ae5"
            ]
        ]
    },
    {
        "id": "d5e44174.39ae5",
        "type": "switch",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "2b670fcf.361b"
            ],
            [
                "fea86aed.dace88"
            ],
            []
        ]
    },
    {
        "id": "2b670fcf.361b",
        "type": "function",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 455,
        "y": 340,
        "wires": [
            [
                "b10d2839.7ece38"
            ]
        ],
        "inputLabels": [
            "My Input"
        ],
        "outputLabels": [
            "My Output"
        ],
        "icon": "font-awesome/fa-camera",
        "l": false
    },
    {
        "id": "fea86aed.dace88",
        "type": "debug",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "cf014635.cd9248",
        "type": "inject",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "fea86aed.dace88"
            ]
        ]
    },
    {
        "id": "f4f2e18a.c2b88",
        "type": "inject",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "ef402474.d266a8"
            ]
        ]
    },
    {
        "id": "5a3ae4c4.38828c",
        "type": "change",
        "z": "632fddcd.bbe7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "99e4b4f.a294948",
        "type": "switch",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 460,
        "wires": [
            [],
            [
                "8c3e5fbf.a9756"
            ],
            []
        ]
    },
    {
        "id": "8c3e5fbf.a9756",
        "type": "debug",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "ef402474.d266a8",
        "type": "subflow:632fddcd.bbe7b4",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "env": [],
        "x": 460,
        "y": 460,
        "wires": [
            [
                "99e4b4f.a294948"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "520d5d1f.12b2e4",
        "type": "inject",
        "z": "3d267e52.e5bfd2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "313ae8f6.ba7a98"
            ]
        ]
    },
    {
        "id": "f4031f36.5c14d",
        "type": "change",
        "z": "ebc7de84.1149",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2cef53f0.983f7c",
        "type": "debug",
        "z": "3d267e52.e5bfd2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "313ae8f6.ba7a98",
        "type": "subflow:ebc7de84.1149",
        "z": "3d267e52.e5bfd2",
        "name": "",
        "env": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "2cef53f0.983f7c"
            ]
        ],
        "inputLabels": [
            "overridden input label"
        ],
        "outputLabels": [
            "overridden output label"
        ],
        "icon": "font-awesome/fa-arrow-circle-o-up",
        "info": "Subflow Instance description"
    },
    {
        "id": "6490a6ed.5fc668",
        "type": "mqtt in",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "topic": "foo",
        "qos": "2",
        "datatype": "auto",
        "broker": "3fb6a4dc.123e3c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "87c300e4.7ac87",
        "type": "mqtt in",
        "z": "ab2b79c4.fe1588",
        "name": "",
        "topic": "bar",
        "qos": "2",
        "datatype": "auto",
        "broker": "3fb6a4dc.123e3c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a78a7d4d.b2c0f",
        "type": "mqtt in",
        "z": "3d267e52.e5bfd2",
        "name": "",
        "topic": "foo",
        "qos": "2",
        "datatype": "auto",
        "broker": "cfd0800.40a668",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 460,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "469688a9.828678",
        "type": "subflow:ebc7de84.1149",
        "z": "3d267e52.e5bfd2",
        "d": true,
        "name": "",
        "env": [],
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "426a596e.74acc8",
        "type": "link in",
        "z": "3d267e52.e5bfd2",
        "name": "",
        "links": [
            "72a169dd.ae6958"
        ],
        "x": 610,
        "y": 360,
        "wires": [
            [
                "9694bcf5.7a0b5"
            ]
        ],
        "l": true
    },
    {
        "id": "9ebdf338.254ec",
        "type": "inject",
        "z": "3d267e52.e5bfd2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "72a169dd.ae6958"
            ]
        ]
    },
    {
        "id": "72a169dd.ae6958",
        "type": "link out",
        "z": "3d267e52.e5bfd2",
        "name": "",
        "links": [
            "426a596e.74acc8"
        ],
        "x": 355,
        "y": 360,
        "wires": []
    },
    {
        "id": "9694bcf5.7a0b5",
        "type": "debug",
        "z": "3d267e52.e5bfd2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 360,
        "wires": []
    }
]