test/resources/test-NRNode.json

[{"id":"db74897287902cd2","type":"tab","label":"NRNode Tests","disabled":false,"info":""},{"id":"724fe9d07c37fafd","type":"inject","z":"db74897287902cd2","name":"flow1-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":120,"wires":[["158780993e2c1fc9"]]},{"id":"158780993e2c1fc9","type":"function","z":"db74897287902cd2","name":"flow1-node2","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":120,"wires":[["d57bcb659131fad9"]]},{"id":"d57bcb659131fad9","type":"debug","z":"db74897287902cd2","name":"flow1-node3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"77514aec80b72630","type":"inject","z":"db74897287902cd2","name":"flow2-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":200,"wires":[["b9c5121509ed75df"]]},{"id":"b9c5121509ed75df","type":"function","z":"db74897287902cd2","name":"flow2-node2","func":"\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["13b9b793852eb613","f3bd472220ee4621"],[],["87f685cd7f783227"]]},{"id":"13b9b793852eb613","type":"debug","z":"db74897287902cd2","name":"flow2-node3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"87f685cd7f783227","type":"debug","z":"db74897287902cd2","name":"flow2-node5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"f3bd472220ee4621","type":"debug","z":"db74897287902cd2","name":"flow2-node4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"2d4827e276d97b08","type":"link out","z":"db74897287902cd2","name":"flow3-link1","links":["7a84b1da5062315f"],"x":255,"y":360,"wires":[]},{"id":"7a84b1da5062315f","type":"link in","z":"db74897287902cd2","name":"flow3-link2","links":["2d4827e276d97b08"],"x":375,"y":360,"wires":[["875acd7a4b38fe50"]]},{"id":"b1e7226ad19816e8","type":"inject","z":"db74897287902cd2","name":"flow3-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":360,"wires":[["2d4827e276d97b08"]]},{"id":"875acd7a4b38fe50","type":"debug","z":"db74897287902cd2","name":"flow3-node2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":360,"wires":[]},{"id":"4cab5f27dd38d817","type":"inject","z":"db74897287902cd2","name":"flow2-node6","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":260,"wires":[["b9c5121509ed75df"]]}]
