test/resources/test-NRNode.json
[{"id":"db74897287902cd2","type":"tab","label":"NRNode Tests","disabled":false,"info":""},{"id":"8a20407846f7e402","type":"group","z":"db74897287902cd2","name":"getPrevious/Next/Connected","style":{"label":true},"nodes":["724fe9d07c37fafd","158780993e2c1fc9","d57bcb659131fad9","77514aec80b72630","b9c5121509ed75df","13b9b793852eb613","87f685cd7f783227","f3bd472220ee4621","2d4827e276d97b08","7a84b1da5062315f","b1e7226ad19816e8","875acd7a4b38fe50","4cab5f27dd38d817"],"x":14,"y":79,"w":592,"h":322},{"id":"724fe9d07c37fafd","type":"inject","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow1-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":120,"wires":[["158780993e2c1fc9"]]},{"id":"158780993e2c1fc9","type":"function","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow1-node2","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":120,"wires":[["d57bcb659131fad9"]]},{"id":"d57bcb659131fad9","type":"debug","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow1-node3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"77514aec80b72630","type":"inject","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow2-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":200,"wires":[["b9c5121509ed75df"]]},{"id":"b9c5121509ed75df","type":"function","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow2-node2","func":"\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["13b9b793852eb613","f3bd472220ee4621"],[],["87f685cd7f783227"]]},{"id":"13b9b793852eb613","type":"debug","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow2-node3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"87f685cd7f783227","type":"debug","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow2-node5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"f3bd472220ee4621","type":"debug","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow2-node4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"2d4827e276d97b08","type":"link out","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow3-link1","links":["7a84b1da5062315f"],"x":255,"y":360,"wires":[]},{"id":"7a84b1da5062315f","type":"link in","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow3-link2","links":["2d4827e276d97b08"],"x":375,"y":360,"wires":[["875acd7a4b38fe50"]]},{"id":"b1e7226ad19816e8","type":"inject","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow3-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":360,"wires":[["2d4827e276d97b08"]]},{"id":"875acd7a4b38fe50","type":"debug","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow3-node2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":360,"wires":[]},{"id":"4cab5f27dd38d817","type":"inject","z":"db74897287902cd2","g":"8a20407846f7e402","name":"flow2-node6","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":260,"wires":[["b9c5121509ed75df"]]},{"id":"414665861c913aac","type":"inject","z":"db74897287902cd2","name":"flow4-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":480,"wires":[["de34265bdcc04e92"]]},{"id":"de34265bdcc04e92","type":"function","z":"db74897287902cd2","name":"flow4-node2","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":480,"wires":[["a57cd58086bd92b4"]]},{"id":"0766558997b1b4b0","type":"debug","z":"db74897287902cd2","name":"flow4-node5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"a57cd58086bd92b4","type":"function","z":"db74897287902cd2","name":"flow4-node3","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":480,"wires":[["826108a7caf06e24"]]},{"id":"826108a7caf06e24","type":"function","z":"db74897287902cd2","name":"flow4-node4","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":480,"wires":[["0766558997b1b4b0"]]},{"id":"50dac75758f57ff4","type":"inject","z":"db74897287902cd2","name":"flow5-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":580,"wires":[["6b08ddb64fd0c6f9"]]},{"id":"6b08ddb64fd0c6f9","type":"function","z":"db74897287902cd2","name":"flow5-node2","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":580,"wires":[["ac8fa5125b7342d8"]]},{"id":"c46286ea55c75f49","type":"debug","z":"db74897287902cd2","name":"flow5-node5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":580,"wires":[]},{"id":"ac8fa5125b7342d8","type":"function","z":"db74897287902cd2","name":"flow5-node3","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":600,"wires":[["4cac76c52432ec19","eb9dfa96ebef0ad7"]]},{"id":"4cac76c52432ec19","type":"function","z":"db74897287902cd2","name":"flow5-node4","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":580,"wires":[["c46286ea55c75f49"]]},{"id":"898862d5b95f91ca","type":"inject","z":"db74897287902cd2","name":"flow5-node6","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":620,"wires":[["8dcc460855fa22e9"]]},{"id":"8dcc460855fa22e9","type":"function","z":"db74897287902cd2","name":"flow5-node7","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":620,"wires":[["ac8fa5125b7342d8"]]},{"id":"92d4023b4e1a10c2","type":"debug","z":"db74897287902cd2","name":"flow5-node9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":620,"wires":[]},{"id":"eb9dfa96ebef0ad7","type":"function","z":"db74897287902cd2","name":"flow5-node8","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":620,"wires":[["92d4023b4e1a10c2"]]},{"id":"638a851824fe4e07","type":"inject","z":"db74897287902cd2","name":"flow5-node10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":430,"y":660,"wires":[["eb9dfa96ebef0ad7"]]},{"id":"b7db5de72d9bfc9e","type":"inject","z":"db74897287902cd2","name":"flow6-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":720,"wires":[["7a0c45184d36fe41"]]},{"id":"7a0c45184d36fe41","type":"function","z":"db74897287902cd2","name":"flow6-node2","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":720,"wires":[["4dea4a9eceeba22e","f5fb30a76ab6b99b"]]},{"id":"4dea4a9eceeba22e","type":"debug","z":"db74897287902cd2","name":"flow6-node3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":720,"wires":[]},{"id":"5ea0b22205d5a51d","type":"link in","z":"db74897287902cd2","name":"flow6-link2","links":["f5fb30a76ab6b99b"],"x":475,"y":780,"wires":[["cee852d2a11632d6"]]},{"id":"f5fb30a76ab6b99b","type":"link out","z":"db74897287902cd2","name":"flow6-link1","links":["5ea0b22205d5a51d"],"x":375,"y":780,"wires":[]},{"id":"cee852d2a11632d6","type":"debug","z":"db74897287902cd2","name":"flow6-node4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":780,"wires":[]},{"id":"559a8e333de82dfd","type":"inject","z":"db74897287902cd2","name":"flow7-node1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":860,"wires":[["7a81dc480e6083b1"]]},{"id":"7a81dc480e6083b1","type":"function","z":"db74897287902cd2","name":"flow7-node2","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":860,"wires":[["6c74ac50b582560d"]]},{"id":"152839336280b91e","type":"debug","z":"db74897287902cd2","name":"flow7-node4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":880,"wires":[]},{"id":"6c74ac50b582560d","type":"function","z":"db74897287902cd2","name":"flow7-node3","func":"\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":900,"wires":[["152839336280b91e"],["7a81dc480e6083b1"]]}]
